@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Inter', ‘Arial’, sans-serif;
    background: #FFFFFF;
    color: #000000;
    min-width: 300px;
    max-width: 1440px;
    padding: 0 40px;
}

@media screen and (max-width: 380px) {
    .page {
        padding: 0 15px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.header__info-list {
    background: #FED600;
    display: flex;
    max-width: 100%;
    padding: 7px 0;
    justify-content: space-between;
}

.header__info {
    display: flex;
    margin: auto 0;
    margin-left: 115px;
}

@media screen and (max-width: 380px) {
    .header__info {
        margin-left: 50px;
    }
}

.header__city {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin: 0 5px 0 0;
}

.header__img-city-selector {
    cursor: pointer;
    max-width: 10px;
    margin: 0 25px 0 0;
}

.header__city-phone {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin: 0 20px 0 0;
}

.header__schedule {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.header__nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 115px;
}

@media screen and (max-width: 380px) {
    .header__nav {
        margin-right: 50px;
    }
}

.header__nav-list {
    padding: 0;
    display: flex;
    margin: 0;
}

.header__nav-list-item {
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
}

.header__link {
    margin: 0;
    list-style-type: none;
    text-decoration-line: none;
    color: #000000;
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin-right: 36px;
}

.header__social-list {
    margin: 0;
    display: flex;
    padding: 0;
}

.header__nav-list-social-item {
    margin-right: 19px;
    list-style-type: none;
}

.header__nav-list-social-item:last-child {
    margin-right: 0;
}

/* @media screen and (max-width: 780px) {
    .header__info-list {
        flex-direction: column;
        padding: 15px 15px;
        margin: 0 auto;
    }
    .header__info {
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .header__nav {
        margin-right: 0;
        justify-content: space-between;
    }
    .header__city {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        margin: 0 15px 0 0;
    }
    .header__img-city-selector {
        max-width: 30px;
        margin: 0 35px 0 0;
    }

    .header__img-city-selector {
        width: 30px;
        height: 30px;
    }
    .header__city-phone {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        margin: 0 35px 0 0;
    }
    .header__schedule {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
    }
    .header__link {
        margin-right: 40px;
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
    }
    .header__nav-list-social-item {
        width: 30px;
        height: 30px;
        margin-right: 60px;
    }

    .header__icon-image {
        width: 30px;
        height: 30px;
    }
} */

.search-section {
    display: flex;
    max-width: 100%;
    padding: 0 115px;
    margin: 0 auto;
    min-height: 105px;
}

@media screen and (max-width: 380px) {
    .search-section {
        padding: 0 50px;
    }
}

.search-section__logo {
    margin: auto 0;
    margin-right: 16px;
    width: 64px;
    height: 73px
}

.search-section__caption {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    width: 135px;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin: auto 0;
    margin-right: 32px;
    box-sizing: border-box;
}

.search-section__caption-color {
    color: #D2001C;
}

.search-section__conteiner-image {
    width: 105px;
    height: 60px;
    margin: auto 0;
    margin-right: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.search-section__image {
    padding: 5px 12px;
    margin: auto;
    width: 81px;
}

.search-section__input-container {
    max-width: 521px;
    display: flex;
    margin: auto 0;
    margin-right: 32px;
}

.search-section__input {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    width: 442px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    
}

.search-section__button-find {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #D2001C;
    border: 2px solid #D2001C;
    box-sizing: border-box;
    border-radius: 4px;
    /* margin-left: -79px; */
    margin-left: -79px;
    cursor: pointer;
    width: 75px;
    height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    background: #FFFFFF;
    /* margin-right: 36px; */
}

.search-section__button-find:focus {
    outline: none;
}

.search-section__img-exit {
    margin-left: 36px; 
    height: 24px;
    width: 24px;
    margin: auto 0;
    margin-right: 10px;
    cursor: pointer;
}

.search-section__come-in {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin: auto 0;
    margin-right: 32px;
    cursor: pointer;
}

.search-section__basket {
    display: flex;
    background: #D2001C;
    max-width: 100%;
    height: 36px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.search-section__img-basket {
    width: 24px;
    height: 24px;
    margin: auto 0;
    margin-right: 10px;
}

.search-section__basket-caption {
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin: auto 0;
    color: white;
}

/* @media screen and (max-width: 780px) {
    /* .search-section {
        display: grid;
        grid-row: 1fr 1fr 1fr;
        grid-column: 1fr 1fr 1fr;
        gap: 40px;
    }
    .nav-list {
        flex-wrap: wrap;
    } */


.navigation {
    width: 100%;
    display: flex;
    margin: 13px auto 22px;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 115px;
    box-sizing: border-box;
}

@media screen and (max-width: 380px) {
    .nav-list {
        padding: 0 50px;
    }
}

.nav-list__item {
    display: flex;
    list-style-type: none;
    text-decoration-line: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.nav-list__item:last-child {
    margin-right: 0;
}

.nav-list__link {
    list-style-type: none;
    text-decoration-line: none;
    text-decoration: none;
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-list__link:last-child {
    margin-right: 0;
}

.navigation-products {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(189, 189, 189, .35);
}

.navigation-products__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 22px auto;
    list-style-type: none;
    text-decoration-line: none;
    margin: 22px auto;
    padding: 0;
    padding: 0 115px;
}

@media screen and (max-width: 380px) {
    .navigation-products__list {
        padding: 0 50px;
    }
}

.navigation-products__item {
    display: flex;
    list-style-type: none;
    text-decoration-line: none;
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

.navigation-products__link {
    display: flex;
    font-family: 'Open Sans', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    list-style-type: none;
    text-decoration-line: none;
    cursor: pointer;
    margin: auto 0;
    padding: 0;
}

.navigation-products__selector {
    cursor: pointer;
}

.navigation-products__img {
    margin: auto 0;
    margin-left: 5px;
    width: 9, 51px;
    height: 5, 93px;
}

.main {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
    padding: 0 106px;
}

@media screen and (max-width: 380px) {
    .about {
        padding: 0 30px;
    }
}

.about__image {
    display: flex;
    width: 100%;
    margin: auto 0;
    object-fit: contain;
    object-position: center;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.about-conteiner {
    margin: 0;
    padding: 0;
    margin-top: 46px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about__content {
    display: flex;
    flex-direction: column;
    max-width: 333px;
}

.about__title {
    font-family: 'SFProDisplay', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0;
    /* width: 333px; */
}

.about__text {
    display: flex;
    flex-direction: column;
    max-width: 708px;
}

.about__button {
    font-family: 'SFUITextMedium', Arial, sans-serif;
    max-width: 280px;
    padding: 12px 16px;
    background: #D2001C;
    border-radius: 4px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.about__button-caption {
    font-family: 'SFUITextMedium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.7px;
    color: #C4C4C4;
    max-width: 280px;
}

.about__paragraph {
    font-family: 'SFUITextMedium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.7px;
    color: #4D4D4D;
    margin-top: 0;
    margin-bottom: 30px;
}

.about__paragraph:last-child {
    margin-bottom: 0px;
}

.about__links {
    display: flex;
    margin-top: 70px;
    width: 100%;
    justify-content: space-between;
}

.about__links-text {
    display: inline-block;
    font-family: 'SFUITextMedium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    align-items: center;
    letter-spacing: -0.7px;
    color: #222222;
    margin: 0;
    padding: 0;
    width: 290px;
}

.about__border {
    display: flex;
    justify-content: center;
    width: 890px;
    height: 0px;
    opacity: 0.1;
    border: 1px solid #000000;
    margin: auto 0;
}

.navigation-links {
    display: flex;
    margin-top: 50px;
}

.navigation-links__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.navigation-links__link {
    font-family: 'SFProDisplay', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
}

.navigation-link__main {
    color: #D2001C;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

.navigation-links__item {
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation-links__selector {
    cursor: pointer;
    list-style: none;
    height: 8px;
    width: 6px;
    padding: 0;
    margin: auto 0;
}

.navigation-links__selector-img {
    margin-left: 15px;
    height: 8px;
    width: 6px;
}

.video {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;
    background: #F9F9F9;
    margin-bottom: 105px;
}

.video__about {
    display: flex;
    padding: 0 120px;
}

@media screen and (max-width: 380px) {
    .video__about {
        padding: 0 50px;
    }
}

.video__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #222222;
    padding: 0;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 54px;
}

.video__icon-left {
    background: url('../images/Vector_5.svg') center no-repeat;
    width: 40px;
    height: 39px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    margin: auto 0;
    cursor: pointer;
}

.video__icon-right {
    background: url('../images/Vector_6.svg') center no-repeat;
    width: 40px;
    height: 39px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    margin: auto 0;
    cursor: pointer;
}

.video__image-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    padding: 0 120px;
}

@media screen and (max-width: 380px) {
    .video__image-conteiner {
        padding: 0 50px;
    }
}

.video__image {
    max-width: 548px;
    margin-right: 67px;
}

.video__image:last-child {
    margin-right: 0;
}